.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 20px;
}
.header__logo {
  flex-shrink: 0;
  text-decoration: none;
}
.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav__item + .nav__item {
  margin-left: 32px;
}
.nav__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f;
  transition: color 0.2s ease;
}
.nav__link:hover {
  color: #333d4b;
}

.nav__link--active {
  color: #333d4b;
}
.hamburger {
  display: none;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 768px) {
  .header .container {
     padding-top: 40px;
     padding-bottom: 54px;
  }
}
@media only screen and (max-width: 660px) {
  .nav {
   display: none;
 }

 .hamburger {
   z-index: 101;
   display: block;
 }

 .hamburger__exit {
   display: none;
 }

 .header--open .nav {
   position: fixed;
   z-index: 100;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(
     180deg,
     rgba(254, 252, 247, 0.504981) 0%,
     #fefcf7 55.94%
   );
 }

 .header--open .nav__list {
   flex-direction: column;
   justify-content: center;
 }

 .nav__item + .nav__item {
   margin-left: 0;
   margin-top: 32px;
 }

 .header--open .hamburger__menu {
   display: none;
 }

 .header--open .hamburger__exit {
   display: block;
 }
}

