.performance-mode .container {
  padding: 200px 85px;
}
.performance-mode__info
{
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1045px;
  color: #333D4B;
}
.performance-mode__heading {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  color: #83888F;
  
}  

.performance-mode__list {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1045px;
  margin: 0;
  margin-bottom: 160px;
  padding: 0;
  list-style-type: none;
}
.performance-mode__list::before {
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 100%;
  max-width: 770px;
  height: 1px;
  transform: translateY(-50%);
  border: 2px solid #FDD6BA;
  content: '';
}
.performance-mode__span {
  display: inline-block;
  margin-bottom: 38px;
  padding-top: 98px;
  font-family: "Fraunces","Georgia", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  color:#FDD6BA;
}
.performance-mode__item {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 285px;
  text-align: start;
}    
.performance-mode__item + .performance-mode__item {
  margin-left: 95px;
}
.performance-mode__item::before {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 31px;
  height: 31px;
  background-color: #fff;
  border: 2px solid #0E8784;
  border-radius: 50%;
  content: '';
}
.performance-mode__item__heading {
  width: 255px;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  font-family: "Fraunces","Georgia", serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  
}
.performance-mode__item__paragraph {
  width: 100%;
  max-width: 285px;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1213px){
  .performance-mode__info {
      margin: 0 auto;
  }
  .performance-mode__heading {
      margin-bottom: 40px;
  }
  .performance-mode__list {
      margin: 0 auto;
      margin-bottom: 44px;
  }
  
  .performance-mode__list::before {
      width: 100%;
      max-width: 720px;
  }
  .performance-mode__item + .performance-mode__item {
      margin-left: 70px;
  }
}

@media only screen and (max-width: 1163px) {
  .performance-mode .container {
      padding: 144px 60px;
  }
  .performance-mode__info {
      align-items: center;
      margin: 0 auto;
  }
  .performance-mode__list {
      margin: 0 auto;
      margin-bottom: 44px;
  }
  .performance-mode__list::before {
      width: 100%;
      max-width: 710px;
  }
  
}

@media only screen and (max-width: 1114px) 
{
  .performance-mode .container {
      padding: 144px 50px;
  }
  .performance-mode__list::before {
      width: 100%;
      max-width: 570px;
  }
  .performance-mode__item + .performance-mode__item {
      margin-left: 50px;
  }
  .performance-mode__item {
      width: 100%;
      max-width: 223px;
  }  
  
  .performance-mode__item__heading {
      width: 100%;
      max-width: 223px;
      margin-bottom: 38px;
      font-size: 28px;
      line-height: 32px;
  }
  .performance-mode__item__paragraph {
      font-size: 15px;
      line-height: 25px;
  }
}
@media only screen and (max-width: 850px) 
{
  .performance-mode .container {
      padding: 144px 40px;
  }
  .performance-mode__list::before {
      width: 100%;
      max-width: 500px;
  }
  .performance-mode__item + .performance-mode__item {
      margin-left: 18px;
  }
}
@media only screen and (max-width: 767px) 
{
  .performance-mode .container {
      padding: 144px 120px;
  }
  .performance-mode__info {
      text-align: center;
  }
  .performance-mode__heading {
      margin: 0 auto;
      width: 100%;
      max-width: 297px;
      margin-bottom: 80px;
  }
  .performance-mode__list::before {
      content: none;
  }
  .performance-mode__item::before {
      content: none;
  }
  .performance-mode__list {
      flex-direction: column;
      margin-bottom: 80px;
  }
  .performance-mode__item {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .performance-mode__item + .performance-mode__item {
      margin-top: 56px;
      margin-left: 0;
  }
  .performance-mode__span {
      padding: 0;
  }
  .performance-mode__item__heading {
      text-align: center;
  }
  .performance-mode__link {
      margin: 0 auto;
  }
}
@media only screen and (max-width: 612px) {
  .performance-mode .container {
      padding: 120px 24px;
  }
  .performance-mode__item {
      padding: 0;
  }
}